---
import Input from "../primitives/Input.astro";
import Icon from "../primitives/Icon.astro";

interface Props {
  placeholder?: string;
  name?: string;
  class?: string;
}

const { placeholder = "Search...", name = "search", class: className, ...rest } = Astro.props;
---

<div class:list={["relative", className]} {...rest}>
  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
    <Icon name="PhMagnifyingGlass" class="text-(--color-text-muted)" />
  </div>
  <Input id={`${name}-search`} type="search" placeholder={placeholder} name={name} class="pl-10" />
</div>
